@use '../../../../scss/variables' as vars;

div.socialsWrapper {
  display: flex;
  justify-content: space-between;

  @include vars.mobile {
    flex-wrap: wrap;
    gap: 12px;
  }
}

div.singleSocialWrapper {
  flex: 1 1 140px;
  text-align: center;
  max-width: 25%;

  @include vars.mobile {
    max-width: 100%;
    flex: 1 1 100%;
  }
}